comparaTabelasCSV.zip
Relatorio Final do Teste.txt
df_train.csv
dtypes_info.csv
valid_dateformats_sas.txt
teste_compara_formato_datas.ipynb
output.csv
Formato Datas.xlsx
Caso de teste - Verificar formato de Datas.txt
/ipynb_checkpoints