comparaTabelasCSV.zip
Relatorio Final do Teste.txt
Relatorio Final do Teste - Comparação de Saídas.txt
Relatório Final do Teste de Tipo de Colunas.txt
df_train.csv
dtypes_info.csv
valid_dateformats_sas.txt
teste_compara_formato_datas.ipynb
output.csv
Formato Datas.xlsx
Caso de teste - Verificar formato de Datas.txt
/ipynb_checkpoints
Relatório de teste.xlsx
Template - Relatório de teste.xlsx
Observações - Critérios de aceite.txt
rascunho.py
exported_data_sas.csv
exported_data_sas_proc_contents.xlsx
relatorio mis.xlsx